test
.DS_Store

# Ignore build folder
build
cmake-build-debug

# Ignore CMakeLists.txt.user
CMakeLists.txt.user

# Ignore .idea folder
.idea

# Ignore .vs folder
.vs

# Ignore .vscode folder
.vscode

.cache

data/out/image_*.png
data/out/output_*.png
data/out/*_OPENCL.png

profile_data_0.txt
profile_data_1.txt
profile_data_0_MT.txt
profile_data_1_MT.txt