test
.DS_Store

# Ignore build folder
build
cmake-build-debug

# Ignore CMakeLists.txt.user
CMakeLists.txt.user

# Ignore .idea folder
.idea

# Ignore .vs folder
.vs

# Ignore .vscode folder
.vscode

image_0_bw.png
image_1_bw.png
image_0_bw_blurred.png
image_1_bw_blurred.png
image_left_disparity.png
image_right_disparity.png
image_cross_checking_LEFT.png
image_cross_checking_RIGHT.png
image_occulsion_filed_LEFT.png
image_occulsion_filed_RIGHT.png
*.txt